@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
  margin: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.header,
.footer{
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.left-links,
.right-links{
  display: flex;
  gap: 16px;
  padding-left: 40px;
  padding-right: 40px;
}

.footer{
  background-color: lightgray;
  align-items: flex-end;
  border-radius: 25px;
}
.buttons,
.input{
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}